[Desktop Entry]
Version=2017.1.1
Name=Substance Designer
Description=PBR material design and authoring tool
Exec="/opt/Allegorithmic/Substance_Designer/Substance Designer"
Icon=substance-designer-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Application;Utilities;
