pkgbase = substance-player-2k
	pkgdesc = Visualize and tweak Substance textures
	pkgver = 2017.1.0
	pkgrel = 1
	url = https://www.allegorithmic.com/products/substance-player
	arch = x86_64
	license = custom
	depends = fontconfig
	depends = gcc-libs-multilib
	depends = glu
	depends = hicolor-icon-theme
	depends = libtiff4
	conflicts = substance-player
	conflicts = substance-player-6
	options = !strip
	source = https://alg-releases.s3.amazonaws.com/public_releases/substance-player/2017.x/Substance_Player-2017.1.0-305-linux-x64-standard-full.rpm
	source = substance-player-icon.png
	source = substance-player.desktop
	sha256sums = 90ed4e491e3fa18f14e112b3a7bfb2d46ecd59833bc2de824b2dcd085946bb75
	sha256sums = 
	sha256sums = 

pkgname = substance-player-2k

