pkgbase = substance-designer-2017
	pkgdesc = Node-based, non-destructive PBR material authoring tool
	pkgver = 2017.1.2
	pkgrel = 1
	url = https://www.allegorithmic.com/products/substance-designer
	arch = x86_64
	license = custom
	depends = fontconfig
	depends = gcc-libs-multilib
	depends = glu
	depends = hicolor-icon-theme
	depends = libtiff4
	options = !strip
	source = https://alg-releases.s3.amazonaws.com/public_releases/substance-designer/2017.x/Substance_Designer-2017.1.2-403-linux-x64-standard-full.rpm
	source = substance-designer-icon-2017.png
	source = substance-designer-2017.desktop
	sha256sums = f7a527e12c5f59c66d90b3135568175cc0d0f6e0b739377a97b23a07ffd4490a
	sha256sums = 8f7f090d96dbb3535747d2c09c32970343c8887df610bc7ef92b59871a9bfb35
	sha256sums = 0b492813f7a03fd6df8bf7c72913eb911c28fb88a92efe83e355a08481451bad

pkgname = substance-designer-2017

