[Desktop Entry]
Version=2017.1.1
Name=Substance Designer 2017
Description=Node-based, non-destructive PBR material authoring tool
Exec="/opt/Allegorithmic/Substance_Designer_2017/Substance Designer"
Icon=substance-designer-icon-2017
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Application;
